<div class="container">
 <header class="header clearfix">
   <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        {{#if isAuthenticated}}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {{/if}}

      </ul>
    </nav>
    <h3 class="text-muted">Grocery Price Tracker</h3>
  </header>

    <br>
    {{#if isAuthenticated}}
    <div>
      <button type="button" class="btn btn-success" onclick="location.href='/store/newstore'">Add New Store</button>
    </div>
    {{/if}}
  
    <br>
    <div>
      <button type="button" class="btn btn-primary" onclick="location.href='/store/display/asc'">Show all stores ascending (A - Z)</button>
      <button type="button" class="btn btn-primary" onclick="location.href='/store/display/desc'">Show all stores descending (Z - A)</button>
    </div>
    <br>
      <div>
        <form id="search-store-chain" action="/store/searchchain" method="post">
          <div class="input-group">
            <label class="col-sm-3" for="searchchain">Search by chain</label>
            <select class="form-control col-sm-5" id="searchchain" name="searchchain">
              {{#each chain}}
                  <option value="{{id}}">{{chain_name}}</option>
              {{/each}}
            </select>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-secondary" type="button">Search</button>
            </span>
          </div>
        </form>
      </div>
    <br>
    <div>
      <form id="search-store" action="/store/search" method="post">
        <div class="input-group">
          <label class="col-sm-3" for="search">Search by store name keyword</label>
          <input type="text" class="form-control col-sm-5" id="search" name="search" placeholder="E.g. Oak Park" aria-label="Search by keyword">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-secondary" type="button">Search</button>
          </span>
        </div>
      </form>
    </div>
    <br><br>
  
    {{#if message}}
      <h4>{{message}}</h4>
    {{/if}}

    {{#if store}}
    <h4>Existing stores</h4>
    <br>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Store name</th>
          <th scope="col">Chain</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
        </tr>
      </thead>
      <tbody>
      {{#each store}} 
        <tr>
          <td>{{store_name}}</td>
          <td>{{chain_name}}</td>
          <td>{{city}}</td>
          <td>{{state}}</td>
          <td>
            {{#if ../isAuthenticated}}
            <button type="button" class="btn btn-primary" onclick="location.href='/store/{{id}}'">Update</button>
            <button  type="button" class="btn btn-danger" onclick="deleteStore({{id}})">Delete</button>
            {{/if}}
          </td>
        </tr>
      {{/each}} 

      </tbody>
    </table>
    {{/if}}
    
    <br><br>
</div>
{{#if searchchain}}
  <script defer>selectSearchChain({{searchchain}});</script>
{{/if}}
